@function mediaSafe($expr) {
  @return unquote('unquote("' + $expr + '")');
}

$sidebar-max-width-toggleable: 42px;

@media screen and (max-width: mediaSafe($sidebar-max-width-toggleable)) {
  body {
    font: 42px 'Comic Sans MS';
    flex: 42 -42 auto;
  }
}
